<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HaLuAdmin </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Areas/Admin/Content/admin.css">*@

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
        <! css 2 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/Contents/clients/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/Contents/clients/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Contents/clients/dist/css/adminlte.min.css">*@
    <link href="~/Contents/PagedList.css" rel="stylesheet" />
    <!-- end
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index", "AdminHome")" class="logo d-flex align-items-center">
                <img src="~/Content/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">HaLuAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->




                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/Content/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminHome")">
                    <i class="bi bi-grid"></i>
                    <span>Trang chủ</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">

                <a class="nav-link collapsed " href="@Url.Action("Index","CustomersAdmin")">
                    <i class="bi bi-menu-button-wide"></i><span>Quản Lý Tài Khoản</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End Components Nav -->

            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminNews")">
                    <i class="bi bi-layout-text-window-reverse"></i> <span>Quản Lý Tin Tức</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li>--><!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminProducts")">
                    <i class="bi bi-journal-text"></i><span>Quản Lý Sản Phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End Tables Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminOrders")">
                    <i class="bi bi-bar-chart"></i><span>Quản Lý Đơn Hàng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End Charts Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminCategories")">
                    <i class="bi bi-card-list"></i>
                    </i><span>Phân Loại Sản Phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End Icons Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","AdminBrands")">
                    <i class="bi bi-gem"></i><span>Quản Lý Thương Hiệu</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

            </li><!-- End Icons Nav -->

            <li class="nav-heading">Khác</li>

            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                    <i class="bi bi-question-circle"></i>
                    <span>Phân Quyền</span>
                </a>
            </li>--><!-- End Profile Page Nav -->

            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="pages-faq.html">
                    <i class="bi bi-person"></i>

                    <span>Tài Khoản Admin</span>
                </a>
            </li>--><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Users/Logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Chuyển Sang User</span>
                </a>
            </li><!-- End Contact Page Nav -->


        </ul>

    </aside><!-- End Sidebar-->
    <div class="main-admin">
        @RenderBody()
    </div>
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
        imgImp.onchange = evt => {
            const [file] = imgImp.files
            if (file) {
                bleh.src = URL.createObjectURL(file)
            }
        }
        imgIop.onchange = evt => {
            const [file] = imgIop.files
            if (file) {
                bldh.src = URL.createObjectURL(file)
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
