<!-- nav-bar -->
<div class="narbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="dropdown">
                    <button class="btn-category" data-toggle="dropdown">
                        <i class="bi bi-list"></i>Danh mục tìm kiếm
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var item in ViewBag.CategoryNavList)
                        {
                            <a class="dropdown-item" href="@Url.Action("Index/" + item.CategoryID,"Category")">@item.CategoryName</a>
                        }
                    </div>
                </div>

            </div>

            <div class="col-lg-9">
                <ul class="nav justify-content-center nav-list">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("GetAllProduct","Category")"><i class=""></i>Mỹ phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index/" + 6,"Brand")"><i class=""></i>L'OREAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index/" + 8,"Brand")"><i class=""></i>LAROCHEPOSAY</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","News")"><i class=""></i>Tin tức</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Introduction","Home")"><i class=""></i>Giới thiệu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end-nar-bar -->
